/* src/styles/global.scss */

/* 引入 Element-UI 的样式已经在 plugins/element.js 中处理 */

/* 自定义全局样式 */
body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  #app {
    min-height: 100vh;
  }
  