/* 引入 Element-UI 的样式已经在 plugins/element.js 中处理 */

/* 自定义全局样式 */


html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
body {
font-size: 16px;
color: #333;
}